/problema1/JavaApplication89/nbproject/private/
/problema1/JavaApplication89/build/
/problema2/Profesores/nbproject/private/
/problema2/Profesores/build/
/problema3/Ejecutor3/nbproject/private/
/problema3/Ejecutor3/build/
/problema4/Ejecutor4/nbproject/private/
/problema4/Ejecutor4/build/
